
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300&display=swap');


* {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    font-family: 'Source Serif Pro', serif;
}

:root{
    --main-color: white;
    --secondary-color: #00002A;
    --tertiary-color: #7393B3;
}

#content{
    display:grid;
    grid-template-columns: 25% 75%;
    width: 70%;
    margin: auto;
    border: 3px solid var(--secondary-color);
}



#rightPanel{
    background-color:var(--main-color);
    height: 100vh;
}

/*HEADER*/

#header {
    width: 30vw;
    margin: 2rem auto;
    display: flex;
    overflow: hidden;
    position: absolute;
    left: 30vw;
    right: 0;
}

#fullName{
    margin-top: 2rem;
    text-align: center;
}

#fullNameDiv{
    display: grid;
    grid-template-rows: 20% 80%;
    font-size: 4vw;
    width: 100%;
    margin-bottom: 1rem;
}

.editButton{
    cursor: pointer;
    width: 1.5vw;
    height: 1.5vw;
    justify-self: end;
}

.form{
    display: grid;
    grid-template-columns: 30% 70%;
    margin: auto;
    gap: 0.5rem;
}


/*##########*/
/*LEFT PANEL*/
/*##########*/
#leftPanel{
    background-color: var(--tertiary-color);
    height: 100vh;
}

/*DETAILS*/
#details{
    padding: 4vh 2vw 0vw 2vw;
    font-size: 1vw;
}

.bold{
    font-weight: bold;
}

#detailsHeadingDiv{
    display: flex;
    justify-content: space-between;
}

#editPhoneField, #editEmailField{
    margin-top: 0.5vw;
    max-height: 1.5vw;
}

.social-icon{
    width: 2vw;
    padding: 0px 2px;
}

#editSocialsButton{
    float: right;
    
}

.socialLinks{
    display: flex;
    gap: 1vw;
}

#socials{
    padding: 4vh 2vw 0vw 2vw;
    font-size: 1vw;
}

#socialsDiv{
    overflow:hidden;
    clear: both;
    
}

#socialLinksDiv{
    padding-top: 4vw;
}

.url{
    padding-top: 0.5vh;
}


.socialsFormItem{
    margin-left: 0.5vw;
}