
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300&display=swap');


* {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    font-family: 'Source Serif Pro', serif;
}

:root{
    --main-color: white;
    --secondary-color: #00002A;
    --tertiary-color: #7393B3;
    --additional-color: #dddddd;
    background-color: var(--additional-color);
}

#content{
    display:grid;
    grid-template-columns: 25% 75%;
    width: 70%;
    margin: 6vw auto;
    border: 1px solid var(--secondary-color);
}


.underline{
    text-decoration: underline;
}

.italics{
    font-style: italic;
}


.form{
    display: grid;
    grid-template-columns: 30% 70%;
    margin: auto;
    gap: 0.5rem;
}

.editButton{
    cursor: pointer;
    width: 1.5vw;
    height: 1.5vw;
    justify-self: end;
}

/*##########*/
/*LEFT PANEL*/
/*##########*/
#leftPanel{
    background-color: var(--tertiary-color);
    min-height: 100vh;
    color: var(--main-color);
}

/*HEADER*/

#header {
    width: 30vw;
    margin: 2rem auto;
    display: flex;
    overflow: hidden;
    
}

#fullName{
    text-align: center;
}

#fullNameDiv{
    display: grid;
    grid-template-rows: 20% 80%;
    width: 100%;
    font-size: 4vw;
}



/*DETAILS*/
#details{
    padding: 4vh 2vw 0vw 2vw;
    font-size: 1vw;
}

.bold{
    font-weight: bold;
}

#detailsHeadingDiv{
    display: flex;
    justify-content: space-between;
}

#editPhoneField, #editEmailField{
    margin-top: 0.5vw;
    max-height: 1.5vw;
}


/*SOCIALS*/

.social-icon{
    width: 2vw;
    padding: 0px 2px;
}

#editSocialsButton{
    float: right;
    
}

.socialLinks{
    display: flex;
    gap: 1vw;
}

#socials{
    padding: 4vh 2vw 0vw 2vw;
    font-size: 1vw;
}

#socialsDiv{
    overflow:hidden;
    clear: both;
    
}

.url{
    padding-top: 0.5vh;
}


.socialsFormItem{
    margin-left: 0.5vw;
}

#socialsHeadingDiv{
    display: flex;
    justify-content: space-between;
}


/*SKILLS*/
#skills{
    padding: 4vh 2vw 0vw 2vw;
    font-size: 1vw;
}

.addButton{
    width: 1vw;
    height: 1vw;
    cursor: pointer;
    justify-self: end;
    padding-top:0.2vw;
}

#skillsHeadingDiv{
    display: flex;
    justify-content: space-between;
}

#skillItems{
    display: grid;
}

#skillItems > ul{
    list-style: none;
}

#skillItems>ul>li{
    display: flex;
    justify-content: space-between;
}

#skillInput{
    width: 8vw;
}
#addSkillItemButton{
    width: 5vw;
    height: auto;
}

.deleteButton{
    width: 1vw;
    height: 1vw;
    cursor: pointer;
    padding-top:0.2vw;
}

/*##########*/
/*RIGHT PANEL*/
/*##########*/

#rightPanel{
    background-color:var(--main-color);
    min-height: 100vh;
}


/*INTRO*/

#intro, #educations, #experiences{
    padding: 0 2vw 4vw 2vw;
    font-size: 1.3vw;
}

#introHeadingDiv{
    display: flex;
    justify-content: space-between;
}

#updateInfoButton{
    width: 5vw;
    height: auto;
}

#descriptionTextArea, #editResponsibilityField{
    height: 7vw;
}

/*EDUCATIONS and EXPERIENCES*/

#educationsHeadingDiv, #experiencesHeadingDiv{
    display: flex;
    justify-content: space-between;
}

#addEducationItemButton, #addExperienceItemButton{
    width: 3vw;
    height: auto;
}

.educationItemDiv, .experienceItemDiv{
    display:grid;
    grid-template-columns: 30% 60% 10%;
    padding-bottom: 2vw;
}

.edItem, .workItem{
    grid-column: 2/4;
}

hr{
    width: 45vw;
    margin: 1vw 0 0 1vw;
}

/*
MEDIA QUERIES FOR MOBILE DEVICES 
*/


@media only screen and (max-width:700px){ 

    #leftPanel, #rightPanel{
        min-height: 100px;
    }

    #nameForm{
        font-size: 2vw;
    }

    input{
        width: 20vw;
        height: 2vw;
        font-size: 2vw;
    }

    #header{
        width: 90%;
    }

    .updateButton{
        height: 3vw;
        font-size: 2vw;
        width: 8vw;
    }

    #socialsForm>input, #detailsForm>input, #skillsForm>input{
        width: 7vw;
        height: 1vw;
    }

    #skillsForm{
        gap:0;
    }

    #addSkillItemButton{
        width: 3vw;
        height: auto;
        font-size: 1vw;
    }

    #introForm{
        padding: 1rem;
    }

    #updateInfoButton, #addEducationItemButton, #addExperienceItemButton {
        font-size: 1vw;
    }

    #editResponsibilityField{
        margin-right: 1rem;
    }

}